Repository Azora-OS-AI/azora-os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azora-world/founding-architects, @azora-world/security-team, @azora-world/ai-team, @azora-world/blockchain-team, @azora-world/marketplace-team, @azora-world/defi-team, @azora-world/devops-team, @azora-world/docs-team, @azora-world/frontend-team, @azora-world/qa-team

.github/CODEOWNERS:

# Code Owners for Azora OS
# This file defines who owns different parts of the codebase
# and who should be automatically requested for review

# Global owners (founding architects)
* @azora-world/founding-architects

# Component-specific owners
azora-aegis/ @azora-world/security-team
azora-nexus/ @azora-world/ai-team
azora-covenant/ @azora-world/blockchain-team
azora-forge/ @azora-world/marketplace-team
azora-mint/ @azora-world/defi-team

# Infrastructure and deployment
.github/ @azora-world/devops-team
infrastructure/ @azora-world/devops-team
docker-compose*.yml @azora-world/devops-team
Dockerfile* @azora-world/devops-team

# Documentation
*.md @azora-world/docs-team
docs/ @azora-world/docs-team

# Frontend/UI components
app/ @azora-world/frontend-team
components/ @azora-world/frontend-team
ui/ @azora-world/frontend-team

# Testing
**/*.test.* @azora-world/qa-team
**/*.spec.* @azora-world/qa-team
jest.config.* @azora-world/qa-team

# Security-critical files
hardhat.config.js @azora-world/security-team
contracts/ @azora-world/security-team
prisma/ @azora-world/security-team

# Configuration files
package.json @azora-world/devops-team
tsconfig.json @azora-world/devops-team
eslint.config.js @azora-world/devops-team
tailwind.config.js @azora-world/devops-team

IMPLEMENTATION PHASE: Launch Strategy + Repository Cleanup Checklist - Ready for Africa
  RESEARCH_COLLECTIVE_ACTIVATION.md
  agents/autonomous-research-agent.ts
  docs/AUTONOMOUS_RESEARCH_UPDATES.md
  docs/CONTINUOUS_IMPROVEMENT_AI_RESEARCH_PLAN.md
  docs/RESEARCH-AUTONOMOUS-AGENT-STATUS.md
Owners: @azora-world/docs-team, @azora-world/founding-architects

feat: AZORA NUCLEAR LAUNCH - unify research, automation, final stretch toward azora.world
  docs/IMPLEMENTATION-STATUS.md
  docs/LAUNCH-PREPARATION-AFRICA.md
  scripts/cleanup-repo.ts
  services/elara-gps-insights.ts
  ui/components/organism-dashboard.tsx
Owners: @azora-world/docs-team, @azora-world/founding-architects, @azora-world/frontend-team

Fix critical deployment bugs and prepare for global launch
  agents/continuous-improvement-orchestrator.ts
  agents/research-agent-2.ts
  build-all-platforms.js
  electron-main.js
  electron-preload.js
  mobile/package.json
  package-electron.json
  vercel.json
Owners: @azora-world/founding-architects, @azora-world/devops-team

AZORA OS LAUNCH PREPARATION - Complete Bug Fixes & Deployment Ready
  mobile/package.json
Owners: @azora-world/devops-team

≡ƒÜÇ Production: Complete Azora OS with Luno-Capitec money system (23,532 lines)
  AFRICA_LAUNCH_COMPLETION.md
  LAUNCH_READINESS_REPORT.md
  README.md
  RESEARCH_COLLECTIVE_ACTIVATION.md
  package.json
  scripts/africa-launch.js
  scripts/clean-repo.js
  scripts/launch-cross-check.js
  scripts/launch-preparation.js
  ui/App.tsx
  ui/components/AfricanSolutionsShowcase.tsx
  ui/components/Header.tsx
  ui/components/OrganismDashboard.tsx
  ui/components/index.ts
  ui/package.json
  vercel.json
Owners: @azora-world/docs-team, @azora-world/devops-team, @azora-world/founding-architects, @azora-world/frontend-team

AZORA OS: Complete system fixes and launch preparation
  agents/ai-ml-systems-architect.ts
  agents/autonomous-research-agent.ts
  agents/autonomous-research-collective.ts
  agents/autonomous-research-orchestrator.ts
  agents/continuous-improvement-orchestrator.ts
  agents/implementation-agent-1.ts
  agents/implementation-agent-2.ts
  agents/research-agent-1.ts
  agents/research-agent-2.ts
  agents/research-collaboration-protocol.ts
  api/services.ts
  api/services/azure-integration.ts
  azora-os-orchestrator.ts
  contracts/quantum-secure/DeployAzoraSystem.js
  contracts/quantum-secure/TestWithdrawalsAndBusinessFunding.js
  core-os-kernel.ts
  demo-azora-os.ts
  deploy-all-platforms.ts
  service-mesh.ts
  test-ai-ml-architect.ts
Owners: @azora-world/founding-architects, @azora-world/security-team
